.butoni button  {
    background-color: #FCA311!important;
    width: 12em!important ;
}

.book-inner-box .icons{
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    opacity: 0;
    transition:  all 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}
.book-inner-box .icons .fa-regular{
    color: #E5E5E5!important;
    
}
.book-inner-box .icons a{
    
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FCA311;
    
}
.book-box.isHover .icons{
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}
.book-inner-box .read-btn{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition:  all 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.read-btn .btn-primary {
    background-color: #FCA311;
    border: 0;
}

.book-box.isHover .read-btn{
    opacity: 1;
}
.container{
    padding-top: 60px;
    
}
.newBooks{
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
}
.book-info{
    padding-top: 10px;
}
.col-lg-3, .col-md-4, .col-mb-3{
    padding-top: 20px;
}
.c2{
    background-color: #E5E5E5;
    width: 100%;
    padding-bottom: 60px;
}